.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar .logo{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbar .search-bar{
    display: flex;
    align-items: center;
}

.navbar .search-bar input[type="text"]{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 8px;
}

.navbar .search-bar button{
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar .search-bar button:hover{
    background-color: #0056b3;
}